#tools {
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
#w-room { margin: 0 4px; min-width: 250px; }
#w-list {
    flex: 1 1;
    margin: 0 auto 0 4px;
    max-width: 640px; min-width: 250px;
    max-height: 300px; min-height: 200px;
    display: flex; flex-direction: column;
}
#w-top { margin: 0 4px 0 auto; min-width: 210px; }
#recentrecordslist { min-height: unset; }

#settings, .alert { left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 2; }
#settings-container { display: flex; }
#settings-container > div { margin: 0 8px 8px 8px; }
#settings-container label { display: block; }
#settings-container header, .sc-header {
    font-variant: all-small-caps;
    font-size: 16px;
    font-weight: 700;
}

#w-room .toolbar .button {
    height: 24px; width: 24px;
    display: inline-block;
    text-align: center;
}

#w-list .container { display: flex; flex: 1 1; }
#userlist { max-height: unset; min-width: 150px; }
#log {
    max-height: unset;
    flex: 1 1;
    padding: .25rem;
    font-size: .72rem;
    font-family: monospace;
}
#chatinput {
    margin: -.25rem .25rem .25rem .25rem;
    font-family: monospace;
    font-size: .72rem;
}
#w-list .chat {
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

#signin {
    text-align: center;
    display: none;
}
#signin > * { display: inline-block; margin: 4px 0; }

.data-entry {
    line-height: 15px;
    font-size: 11px;
}
.data-entry *:first-child {
    font-size: 14px;
}

.listui {
    border: inset;
    margin: .25rem;
    background-color: #fff;
    overflow: auto;
    max-height: 30vh;
    min-height: 50px;
}
.list-entry {
    margin: .25rem;
    font-size: 75%;
    user-select: none;
}
.list-entry *:not(:first-child) {
    font-size: 90%;
}
.list-entry.clickable { cursor: pointer; }
.list-entry.clickable:hover { border: blue dotted .01rem; }
.list-entry.clickable:active { background: rgba(0,0,255,0.2); }

.top-table {
    width: 100%;
    font-size: 80%;
}
